@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700&subset=latin,cyrillic);

body {
	font-size:100%;
	font-family: 'Ubuntu',sans-serif;
}

*, *:before, *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, img, b, u, i, center, table, tr, th, td, video, .clear {
	margin: 0;
	padding: 0;
	border: 0;
}

h1.title {
	font-weight: 600;
	color: #FFFFFF;
	font-size: 4em;
	color: #fff;
	padding: 20px 0px 20px 0px;
	letter-spacing: 0.3px;
}

.adaptive {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.top-menu {
	background: #000000;
	height: 44px;
	display: none;
}

.fix-top-ab {
	position: absolute;
	z-index: 1;
}
.fix-top-fi {
	position: fixed;
}
.bg-header {
	background-image: url('../img/bg-header.jpg');
	height: 100vh;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
	position: relative;
	background-attachment: fixed;
}

.cover-filter {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.gradient-top {
	height: 100vh;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));
	background-image: linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c000000', endColorstr='#4c000000');
}

.ps-container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.cover-wrapper {
	display: table-cell;
	width: 1200px;
}

.valign-bottom {
	vertical-align: bottom;
}

.center {
	text-align: center;
}

p.title {
	max-width: 520px;
	margin: 0 auto;
	color: #fff;
	padding: 20px 0px 0px 0px;
	font-size: 2em;
	line-height: 1.45;
	font-weight: 300;
}

.left-menu-wrapper {
	display: inline-table;
	height: 100%;
	vertical-align: middle;
}

.left-menu-wrapper>ul {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

.left-menu-wrapper>ul>li {
	clear: both;
	font-size: 16px;
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0px;
	color: #000000;
	white-space: nowrap;
	font-weight: 600;
}

.right-menu-wrapper {
	text-align: right;
	padding-right: 40px;
	right: 0;
	position: absolute;
	height: 100%;
	display: inline-table;
}

.right-menu-wrapper>ul {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

.right-menu-wrapper>ul>li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.logowrapper {
	position: absolute;
	left: 50%;
	display: table;
	height: inherit;
}

.logowrapper>div {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	left: -50%;
	z-index: 100;
	width: 6vh;
}

.container-arrow {
	width: 100px;
	margin: 65px auto 0px;
}
.container-arrow>ul {
	padding: 0;
	list-style: none;
	margin-bottom: 0px;
}
.shake li {
	-webkit-animation: shake .7s linear alternate infinite;
  	animation: shake .7s linear alternate infinite;
}
@-webkit-keyframes shake {
  100% {
    -webkit-transform: translateY(-10px);    
  }
}
@keyframes shake {
  100% {
    transform: translateY(-10px);    
  }
}

.top-menu-brg {
	background: #000000;
	height: 44px;
	display: block;
	overflow: hidden;
}

.bg-scren2 {
	background: #FFFFFF;
	height: 100vh;
	width: 100%;
}

.table {
	display: table;
	height: 100%

}

.table-cell-mid {
	display: table-cell;
	vertical-align: middle;
}

.text-scren2 {
	padding: 5em 0 0 3em;
	line-height: 1.55;
}

h2 {
	font-size: 3em;
	padding: 0 0 0.5em 0;
	font-weight: 900;
}
.hr {
	max-width: 50px;
	width: 100%;
	height: 3px;
	background-color: #292b2c;;
	display: block;
}

.descr {
	padding: 1em 0 0 0;
	font-size: 1.44em;
	font-weight: 300;
}

.scren2-wrapper {
	
}

.scren2-image {
	#background-image: url(../img/scren2.jpg);
	height: 42em;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.height {
	height: 100vh;
}

.pading-scren2-img {
	padding: 0 0 0 0;
}

.bg-scren2 {
	background-image: url('../img/scren2.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	background-attachment: fixed;
	max-height: 20em
}